<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MixMeet</title>
    <link rel="stylesheet" href="./css/index.css" />

    <link rel="shortcut icon" href="./images/favicon.png" type="image/x-icon" />
  </head>
  <body>
    <header>
      <img src="./images/logo.png" alt="mixmeet logo" class="logo" />
      <nav>
        <a href="/sign-up">Sign Up</a>
        <a href="/sign-in">Sign In</a>
      </nav>
    </header>
    <main class="home-main">
      <h1>Welcome to MixMeet</h1>
      <p>come meet and mix tech.</p>
      <p>
        MixMeet is a social platform for techies from all tech domains. Lorem
        ipsum, dolor sit amet consectetur adipisicing elit. Repellat nam dicta
        dolor velit et ea odit excepturi, placeat consequatur omnis aut
        cupiditate quidem sunt soluta mollitia quam corrupti ratione!
        Accusantium hic quia, expedita aperiam architecto cum, voluptate odio
        distinctio consequatur vel culpa, maiores placeat? Dolore ipsa iste ut
        dolores nihil.
      </p>
    </main>
    <footer>&copy; MixMeet @ <%=new Date().getFullYear() %></footer>
  </body>
</html>
